<div class="bg-natural-95 border-top">
  <div class="container py-6">
      <nav class="navbar navbar-expand navbar-light bg-natural-95 py-0">
        <div class="container-fluid">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse d-flex flex-md-row flex-column justify-content-center" id="navbarText">
            <ul class="flex-column flex-md-row navbar-nav justify-content-center me-md-auto mb-2 mb-lg-0">
              <div class="d-flex flex-row justify-content-center">
                <li class="nav-item px-md-5 px-4">
                  <a class="nav-link text-natural-10 fs-8 fs-md-6" href="#">服務方案</a>
                </li>
                <li class="nav-item px-md-5 px-4">
                  <a class="nav-link text-natural-10 fs-8 fs-md-6" href="#">關於職旅</a>
                </li>
                <li class="nav-item px-md-5 px-4">
                  <a class="nav-link text-natural-10 fs-8 fs-md-6" href="#">聯絡我們</a>
                </li>
              </div>

              <div class="d-flex flex-row justify-content-center">
                <li class="nav-item px-md-5 px-4">
                  <a class="nav-link text-natural-10 fs-8 fs-md-6" href="#">隱私權政策</a>
                </li>
                <li class="nav-item px-md-5 px-4">
                  <a class="nav-link text-natural-10 fs-8 fs-md-6" href="#">用戶條款</a>
                </li>
              </div>
            </ul>
            <span class="navbar-text fs-8 text-natural-50">
              Copyright © 2025 職旅 workway. All rights reserved.
            </span>
          </div>
        </div>
      </nav>
  </div>
</div>